@page 
@functions
{
    public string DayName {get; set;}
    public void OnGet()
    {
        Model.DayName= DateTime.Now.ToString("dddd");
    }
}
<p>
    Its @Model.DayName! Our Customers include restaraunts , hotels and cruise lines. 
</p>

