@page
@model 
NorthwindWeb.Pages.Suppliers.Model
<div class="row">
    <h1 class="display-2"> Suppliers </h1>
        <table class="table ">
            <thead class="thead-inverse">
              <tr><th> Company name </th> </tr>  
            </thead>
        </table>
</div>